body {
  background-color: rgb(24, 23, 23);
}
/*black*/
/*#222831*/
/*#2e3129*/
/*rgb(24, 23, 23)*/

@media (pointer: fine) {
  #gradientBackground {
    position: absolute;
    z-index: 1;
  }

  #pageContent {
    position: relative;
    z-index: 2;
    font-family: 'sf-pro', sans-serif;
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }

    50% {
      scale: 1 1.5;
    }

    to {
      rotate: 360deg;
    }
  }

  #blob {
    z-index: 0;
    background-color: white;
    height: 28vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(16, 58, 59), rgb(46, 75, 97));
    animation: rotate 20s infinite;
    opacity: 0.8;
  }

  #blur {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(12vmax);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* background image */
/* #index {
  background-image: url("./images/W_background_version.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

/*Contact field fill in animation*/
.contactField {
  background-image: linear-gradient(#24CBFF, #24CBFF);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size .5s, color .5s;
}
.contactField:hover {
  color: black;
  background-size: 100% 100%;
}

/*Transitions while scrolling down*/
/*.disappear {*/
/*  opacity: 0;*/
/*  transition: all 2s;*/
/*  filter: blur(5px);*/
/*  transform: translateX(-100%);*/
/*}*/

@media (prefers-reduced-motion: no-preference ) and (hover: hover) and (pointer: fine) {
  .disappear {
    opacity: 0;
    transition: all 0.7s ease-out;
    filter: blur(5px);
    /*transform: translateX(-100%);*/
    transform: translateY(50%) scaleY(1.5);
  }
}

.appear {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0) scaleY(1);
}

@font-face {
  font-family: 'sf-pro';
  src: url('../public/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sf-pro';
  src: url('../public/fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}